<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>C1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>C3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>B1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>B2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>A3</string>
	</dict>
</array>
</plist>
